@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
    background-color:  #242424;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 25px;
    background-color: none;
    color: #ffff;
}

.closeout-icon {
    margin-top: 25px;
    font-size: 30px;
}

.nav-menu {
    background-color: #242424;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 1s;
    z-index: 2;
}

.nav-menu-items {
    width: 100%;
    padding: 0;
}

.nav-menu.active {
    left: 0;
    transition: 1s;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-bottom: 10px;
    list-style: none;
    text-align: center;
}

.nav-text a {
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-text a:hover {
   text-decoration: underline;
}

.nav-toggle {
    background-color: #242424;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.logo {
    text-align: center;
    padding-right: 15px;
    letter-spacing: 1px;
    color: #e6e6e6;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    text-transform: capitalize;
    cursor: pointer;
}

/* T A B L E T */
@media only screen and (min-width: 768px){
    .navbar {
        height: 100px;
    }

    .logo {
        font-size: 35px;
    }

    .menu-bars {
        font-size: 35px;
    }
    
    .closeout-icon {
        font-size: 35px;
    }

    .nav-text a {
        font-size: 30px;
    }
}

